
<h2 style="margin-bottom: 1.5vw;"><%= t('welcome.manage')%></h2>

<%if current_user.role_id == 1%>

<%= link_to t('general.group_user'),{ :action=>'groupUser', :controller=>'users'},:class=>"green-button",:style=>'margin-top:2vh;'%><br><br>

<%end%>

<%if current_user.role_id == 2%>
<%= link_to t('welcome.q_setter'), :action=>'index', :controller=>'users', :create_id => 3%><br><br>
<%= link_to t('welcome.examinee'), :action=>'index', :controller=>'users', :create_id => 4%><br><br>
<%= link_to t('general.group_user'), :action=>'groupUser', :controller=>'users'%>
<%end%>