		  <%checkAttended = Evaluation.find_by_question_id_and_categoryexam_id_and_categoryuser_id_and_has_attended_and_attempt(@question.id,@categoryExam,@categoryUser,true,@attempt) %>
		  
		  <%unless checkAttended == nil%>
		     <table class="answer_name" id="toggle_<%=@question.id%>">
			 	<tr><th></th></tr>
			 	<tr>
			 	 <td>
			 	  <%= hidden_field_tag "question_type_id", @question.question_type_id%>	
	              <%= hidden_field_tag "question_id", @question.id%>
				  <%= hidden_field_tag "attended", checkAttended.has_attended%>
				  <%= hidden_field_tag "evaluation_id", checkAttended.id%>	
				  <%# answers = Answer.find_all_by_question_id(@question.id)%>
				   <%#answers.each do|answer|%>
				        <span><%= text_area_tag "description",checkAttended.descriptive_answer, :id=>"question-text",:style=>"width:50vw; height:30vh; border:#d1d1d1 1px solid; background:#cfcfcf;min-height: 30vh;min-width:50vw;", :class=>"description"%></span>
						<%#= radio_button_tag "answer_id", answer.id, checkAttended.answer_id == answer.id ? true : false, {:class=>"validate[minCheckbox[1]] checkbox publish", :style=>"margin-left: 10px; margin-right: 5px;",:disabled => false} %><br><br>
					 
				   <%#end%>				
			 	 </td>
				</tr>
			 </table>
		   <%else%>
		      <table class="answer_name" id="toggle_<%=@question.id%>">
			 	<tr><th></th></tr>
			 	<tr>
			 	 <td>
			 	  <%= hidden_field_tag "question_type_id", @question.question_type_id%>	
	              <%= hidden_field_tag "question_id", @question.id%>	
				  <%# answers = Answer.find_all_by_question_id(@question.id)%>
				   <%#answers.each do|answer|%>
				        <span><%= text_area_tag "description","", :id=>"question-text",:style=>"width:50vw; height:30vh; border:#d1d1d1 1px solid;  background:#cfcfcf", :class=>"description"%></span>
						<%#= radio_button_tag "answer_id", answer.id,false, {:class=>"validate[minCheckbox[1]] checkbox publish", :style=>"margin-left: 10px; margin-right: 5px;min-height: 30vh;min-width: 50vw;"} %><br><br>
					 
				   <%#end%>				
			 	 </td>
				</tr>
			  </table>   
		   <%end%>
		   <div class="clear"></div>
<script type="text/javascript" src="/javascripts/ckeditor/build/ckeditor.js"></script>
<script>
                         var editor1;
                         ClassicEditor
                                 .create( document.querySelector( '#question-text' ) )
                                 .then( editor => {
                                         console.log( editor );
                                         editor1=question-text;
                                         editor.modal.document.on("change", ()=> {execFunc();})
                                 } )
                                 function execFunc(){
                                         document.getElementsByName("description")[0].value = editor1.getData();
                                         console.log(document.getElementById("question-text").value);
                                 }
                                 
                 </script>