
<%= form_for :exam, :url => {:action => "examination"} do |f| %>
<div style="color: #f26f29; float: left;font-size:1.5rem; font-weight: bold; padding: 0 0 12px; width: 100%;"><%=t('general.instruction')%></div>

<fieldset class="formContainer">

 <p style="text-align:justify;color:#3e3d40; ">
 	<%=t('exam.instruction_start_exam')%>  <br><br>
	
	<%=t('exam.instruction_total_mark')%> <%=@questions_length%> <%=t('general.questions')%>. <br><br>
    
	<%=@exam.instruction%>
	
 </p>

</fieldset>
<span></span>
<%end%>
<span style="float:left;"><button id="parentBtn" class="green-button" style="font-size:1rem;" onclick="window.open('<%= url_for(:action=>"examination", :categoryuser_id=>@category_user, :categoryexam_id=> @category_exam, :attempt=>@attempt) %>', '', 'toolbars=0,resizable,scrollbars')"><%=t('attend_exam.start')%></button><span>
<script>
	
	$(document).ready(function() {
		
		$('#parentBtn').click(function(){

   			parent.location.href = 'http://<%=@hostname%>/results/index';
        });
		
});



</script>