<!-- 
  application.html.erb
  Description: Layout for the application as a whole
  Created on: October 11, 2010
  Last modified on: March 18, 2013
  Copyright 2013 PIT Solutions Pvt. Ltd. All Rights Reserved.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  	<head>
		<title>Telescholr - Online Examination System</title>
		<%= favicon_link_tag 'favicon.ico',:style=>"filter: sepia(36%) hue-rotate(-152deg) saturate(500%);" %>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap" rel="stylesheet">
		<%= javascript_include_tag "highlight" %>
		
		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag "styles","navigation_new", "dropdown.linear", "validationEngine.jquery.css", "thickbox" %>
		<%= stylesheet_link_tag "jquery-ui", "jquery.ui.theme"%>
	    <%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "highcharts" %>
		<%@setting = Setting.find(:first)%>
	
		<%if t('language.lang') == "en"%>
			<%= javascript_include_tag 'jquery.validationEngine-en', 'jquery.validationEngine'%>
		<%elsif t('language.lang') == "de"%>
			<%= javascript_include_tag 'jquery.validationEngine-de', 'jquery.validationEngine'%>
		<%elsif t('language.lang') == "ar"%>
			<%= javascript_include_tag 'jquery.validationEngine-ar', 'jquery.validationEngine'%>
		<%elsif t('language.lang') == "zh"%>
			<%= javascript_include_tag 'jquery.validationEngine-zh', 'jquery.validationEngine'%>
		<%end%>
		
		<%= javascript_include_tag "jquery-ui.min", "jquery-ui-timepicker.js","thickbox" %>
		<%= javascript_include_tag "jquery.ui.autocomplete" %>
		<%= csrf_meta_tag %>
		<%= yield(:head) %>
	
  	</head>
	<body class="bgimg">
		<div id="mainWrapper">
			<div class="wrapperContent">
    			<%= render :partial => 'layouts/header' %>
  
	  			
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>




		<div class="nav-content">
   				<%= render :partial => 'shared/navigation' %>
				   <div class="contentWrapper">
				   <%if current_user%>
					 
				 <%end%>
				 <div class="midCol">
						<% flash.each do |name, msg| %>
							<%if name.to_s == "notice"%>
							 <%= content_tag :div, msg, :class => "notice" %>
							<%elsif name.to_s == "success"%>
								<%= content_tag :div, msg, :class => "success" %>
							<%elsif name.to_s == "error"%>
								<%= content_tag :div, msg, :class => "error" %>
							<%end%>
					   <% end %>
					 <%= yield %>
					   <div class="clear"></div>
				 </div>
				 <div class="clear"></div>
			   </div>
		</div>



		<div id="footer">
	
				&copy; Tekmonks Pvt. Ltd., All rights reserved.
		</div>

 
	</body>
</html>


